@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #f2f3f6;
    padding: 80px;
    color: #151515;
  
    background-repeat:repeat-y;
    height: 100vh;
    width: 100%;
 }
/* ======================== */
.container{
    max-width: 960px; /*Limits the width of the container but let's it get smaller if needed.*/
    margin: 0 auto; /*Center the container horizontally in the middle of the page.*/
    padding: 12px;
}
.navbar{
    display: flex;
    flex-wrap: wrap; /*Allows the children inside a flex container to wrap down onto the next line if there is not enough space.*/
    align-items: center; /*Centers the children of a flex container vertically.*/
    justify-content: space-between; /*Adds space between each child of a flex container.*/
    background-color: #dddddd;
    border-radius: 2%;
    border-style:solid;
    padding-block: 15px; /*Padding top and bottom*/ 
}
.navbar a{
    text-decoration: none;
    color: inherit; /*Inherits the same color as the parent element or grandparent (the body) unless you set the color to the navbar.*/
}
.logo{
    margin-right: 50px;
}
.list{
    list-style: none;
    display: flex;
    gap: 25px; /*Applies right and bottom spacing between children inside a flex or grid container.*/
}
#toggler,
.navbar label{
    display: none;/*Hide the checkbox and label on large screens.*/
}
/*Breakpoint set at 600px, once it is 600px or smaller the layout changes to use the following styles overriding the old ones.*/
@media screen and 
(max-width: 600px){
    .menu{
        width: 100%;
        max-height: 0; /*Makes the max-height 0 to side the expanded menu.*/
        overflow: hidden; /*Hides the overflowing content.*/
    }
    .list{
        flex-direction: column; /*Chances the direction of the flex container. By default it is a row so we change it to column in small screens.*/
        align-items: center;
        padding: 20px;
    }
    .navbar label{
        display: inline-flex; /*Makes it an inline flex container for the icon. Used for centering the icon inside this box.*/
        align-items: center;
        cursor: pointer;
    }
    /* 
        The general sibling selector (~) selects all elements that are next siblings of #toggler.
        In this case we target the .menu and we turn the height back to 100% to show the menu.
    */
    #toggler:checked ~ .menu{
        max-height: 100%;
    }
}

.body {
    display: inline-block;
    position: relative;
    margin-top:1rem ;
    padding-left: 25px;
    font-family: montserrat;
    color: #000;
    text-decoration:none;
    z-index:1;
    background-color:#DDDDDD;
    border-style: solid;
    border-radius:5%;
}
.body1 {
    position: relative;
    color: #0A1931;
}

.contact {
    margin: 5px;
    padding: 1px;
    text-align: center;
    padding: 5px;
    color: #000;
}

.bar menu {
    
    position: fixed;
    border-radius: 20%;
    z-index:1;
    color:#000000;
}

hr{
    border:dotted #000000 6px;
    border-bottom:none;
    width:10%;
    margin:100px auto;
}

li {
font-size: larger;
}


/* Style the Sticky icons on web page */   
.stickyicon-list {   
position: fixed;   
top: 200px;   
transform: translateY(-50%);             
}         
.stickyicon-list a {   
display: block;   
text-align: center;   
padding: 8px;   
transition: all 0.5s ease;   
color: white;   
font-size: 20px;   
}         
/* HOver affect on sticky social media icons */   
.stickyicon-list a:hover {   
color: #000;   
width:10px;   
}   

/* Now we have to design each icon of social media */         
.facebook {   
background: #3b5998;   
color: white;  
}         
.instagram {   
background: #3f729b;   
color: white;   
}         
.Heading {
    text-decoration-style:solid;
}
.phone{
    color:#000;
}
.footer{
    color:#000;
}
.images{
    position: relative;
    display: inline-block;
    padding: 1rem;
    margin: 1rem;

}
.congris {
    width: 41%;
    height: 40%;
  margin: 1rem;
  border-radius: 20%;

   
}
.completa {
    width: 41%;
    height: 40%;
    margin: 1rem;
    border-radius: 20%;

     
  }
  .cannoli{
    width: 40%;
    height: 40%;
    margin: 1rem;
    border-radius: 20%;

     
  }
  .cake {
    width: 40%;
    height: 40%;
    margin: 1rem;
    border-radius: 20%;
}
.info{
    background-color: #3f729b;
    width: 100%;
    margin: 1%;
    height: 4rem;
    border: solid;
    text-align: center;
    font-weight:bolder;
    border-radius: 10%;
     flex-wrap: wrap;
     
}
.info1 {
    padding: 0%;
}
.content{
    background-image: url(bread.jpg);

}
